body {
  background-image: url('./marvel_comics.jpg');
  background-size: 1400px 700px;
}

.form {
  border-style: solid;
  border-width: 2px;
  height: 400px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  width: 40%;
}

.user-box {
  border-radius: 4px;
}

.register-button {
  border-radius: 4px;
}

h2 {
  font-size: 20px;
}

/* .register-button {
  background-color: yellow;
  float: right;
} */
