@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  font-family: 'Oswald', sans-serif !important;
}

.form {
  background-image: url('./marvel_comics.jpg');
  background-size: 1400px 700px;
  font-size: 20px;
  height: 100%;
/*   margin: 0 auto; */
  padding-top: 50px;
  text-align: center;
  width: auto;
}

.form-group {
  padding-bottom: 25px;
}

.form-text {
  color: white;
  outline-color: black;
}

.user-box {
  border-radius: 4px;
  margin-bottom: 100%;
}

.register-button {
  border-radius: 4px;
}

h2 {

}
