.character-detail-container {
  color: black;
  display: flex;
  /*   background-color: green;
   */ /* height: 100%; */
  padding: 50px 0px 50px 75px;
  flex-direction: column;
}

.char-name {
  justify-content: center;
  align-self: center;
  text-decoration: none;
}

.image {
  height: 300px;
  width: 300px;
  padding-bottom: 20px;
  align-self: center;
}

.description {
  align-self: center;
  width: 350px;
}

.favorite-button {
  width: 175px;
  height: 30px;
  align-self: flex-end;
  border-color: black;
  background-color: turquoise;
}

/* .char-name .favorite-button .image .description {
  padding-top: 100px;
} */

.single-div {
}
