.nav {
  background: rgb(83,83,83);
  background: linear-gradient(0deg, rgba(83,83,83,1) 0%, rgba(13,13,13,1) 98%);
  display: flex;
  font-size: 35px;
  justify-content: flex-end;
  list-style-type: none;
  padding: 40px 0 40px 0;
  margin-top: 0;
}

.nav-link {
  color: white;
  padding: 5px 20px 5px 5px;
  text-decoration: none;
}

a:hover {
  color: red;
}
