/* @media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
} */

.brand {

}

.ml-auto {
  padding: 5px 20px 5px 5px;
  text-decoration: none;
}

.nav-div {
  width: 100%;
}

.NavLinkClass:hover {
  color: red;
}

.Navbar {
  background-color: black;
/*   width: 100vw; */
}
