.character-cell-container {
  color: black;
  height: 80vh;
  padding-left: 25%;
  padding-top: 10px;
}

.character-cell-container ul {
  color: black;
  font-size: 30px;
  height: 100%;
  list-style-type: none;
  overflow: auto;
  padding-bottom: 20px;
}

.character-list-container {
  color: black;
  padding: 0 75px 50px 75px;
}

h1 {
  padding-left: 25%;
}
