.character-cell-container {
  color: black;
  height: 81vh;
  float: left;
  text-decoration: none;
}

.character-cell-container ul {
  color: black;
  font-size: 30px;
  height: 100%;
  list-style-type: none;
  overflow: auto;
  float: left;
}

.character-list-container {
  color: black;
  float: left;
}

h3 {
  float: left;
}

h5 {
  padding-top: 20px;
}
