@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}

.form {
  background-image: url("./marvel_comics.jpg");
  background-size: 1400px 700px;
  font-family: "Oswald", sans-serif !important;
  font-size: 20px;
  height: 700px;
  text-align: center;
  width: 100%;
}

.form-text {
  color: white;
  text-shadow: 2px 2px black;
}

.user-box {
  border-radius: 4px;
}

.register-button {
  border-radius: 4px;
}

.register-button:hover {
  background-color: red;
}

.create-account {
  color: white;
  text-shadow: 3px 2px black;
}
